.bottle
{
background-image:url(1.png);
background-repeat:no-repeat;
margin:0 auto;
width:200px;
height:500px;
}
 
.change
{
background-image:url(2.png);
background-repeat:no-repeat;
margin:0 auto;
width:200px;
height:500px;
}
 
#bor
{
	border:solid 1px black;
	width:180px;
	margin:20px auto;
}
#bor div
{
height:20px;
background-color:red;
}
 
 
#but
{
width:100px;
margin:0 auto;
}
 
