<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todolist</title>
</head>
<body>
    <div id="root">
        <div>
            <input v-model="inputValue"/>
            <button @click="add">提交</button>
        </div>
        <ul>
            <li v-for="item of list">
                {{item}}
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script>
        new Vue({
            el:'#root',
            data:{
                inputValue:'',
                list:[]
        },
        methods: {
        add:function(){
            this.list.push(this.inputValue)
            this.inputValue=[]
        }
        }
    })
    </script>
</body>
</html>